@model List<ITCompanyFinder.Models.CompanyDetailsModelUI>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CompaniesDataView</title>
</head>
<body>
    <h1 align="center">
        <b>List of Companies</b>
    </h1>
    @if (@ViewBag.HasResponse)
    {
        <table>
            <tr>
                <th>Name</th>
                <th>Address</th>
            </tr>

            @foreach (var value in Model)
            {
                <tr>
                    <td> @value.CompanyNames </td>
                    <td> @value.CompanyAddresses </td>
                </tr>
            }
        </table>
    }
    else
    {
    <h3>No Such Location Exists</h3>
    }

    <form align="center" action="DisplayCompanies" method="post">
        <input id="hitcountfromui" type="hidden" name="hitcountfromui" value=@ViewBag.lasthitcount />
        <input id="token" type="hidden" name="token" value=@ViewBag.NextPageToken />
        @if (@ViewBag.lasthitcount != 3)
        {
            <input id="bt_next" type="submit" value="Next" />
        }


    </form>
    <form align="center" action="GetDataFromUser1" method="post">
        <input id="hitcountfromui" type="hidden" name="hitcountfromui" value=@ViewBag.lasthitcount />
        <input id="token" type="hidden" name="token" value=@ViewBag.NextPageToken />
        @if (@ViewBag.lasthitcount == 3)
        {
            <font color="red">No More Results to show </font>
            <input id="bt_home" type="submit" value="Home" />
        }
    </form>
</body>
</html>
